﻿@model IdentityManager.Models.User
@{
    ViewData["Title"] = "Users";
}
<style>
    
</style>
<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<div class="container">
    <h3><small>Users</small></h3>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="form-group  pull-center">
        <table id="UsersDataTable" class="table dataTableServer table-striped table-bordered dt-responsive nowrap compact" cellspacing="0" width="100%" data-source="sorted">
            <thead>
                <tr class="tableheadercolourassetsorted">
                    <th style="display:none;">Id</th>
                    <th>Username</th>
                    <th>Forename</th>
                    <th>Surname</th>
                    <th>Active</th>
                    <th>System User</th>
                    <th>Access Group</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/js/Pages/Users.js"></script>