﻿@model IdentityManager.Models.Login
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="loginpage">
    @using (Html.BeginForm("Login", "Authentication", FormMethod.Post))
    {
        @*<div class="row">
                @Html.ValidationSummary("", new { @class = "alert-danger" })
            </div>*@
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center align-middle">Sign In</h3>
                </div>
                <div class="card-body">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.Username, new
               {
                   @class = "form-control text-left",
                   @tabIndex = 4,
                   @maxlength = 30,
                   @width = 300
               })
                        <p id="UsernameValidation" class="help-block text-danger invalid-feedback">@Html.ValidationMessageFor(m => m.Username)</p>

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        @Html.TextBoxFor(model => model.Password, new
              {
                  @class = "form-control text-left",
                  @type = "password",
                  @tabIndex = 4,
                  @maxlength = 30,
                  @width = 300
              })
                        <p id="PasswordValidation" class="help-block text-danger invalid-feedback">@Html.ValidationMessageFor(m => m.Password)</p>
                    </div>
                    <div class="form-group">
                        <button id="loginbutton" class="btn btn-primary  pull-right">Login</button>
                    </div>

                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.ReleaseVersion)
        @Html.HiddenFor(m => m.ReleaseDate)
        @Html.HiddenFor(m => m.Environment)
    }
</div>

