﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <span>You are not authorised to view this page. Please contact the administrator.</span>
    </div>
</div>