﻿
@{
    ViewData["Title"] = "Dashboard";
}
<link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/Dashboard.css" rel="stylesheet" />
<div class="container">
    <h3><small>Dashboard</small></h3>

    <div class="content fa-dashboard dashboard">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    @*<div class="row accept-policy"><h4><span class="align-content-center">@Html.Raw(Model.DepotName)</span></h4></div>*@
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon"><i class="fas fa-bars"></i></div>
                            <h4 class="card-category">Users</h4>
                            <div class="row">
                                &nbsp;
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="card-title">Total users</label>
                                </div>
                                <div class="col-lg-6">
                                    <label id="TotalUsers" class="text-md-end"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="card-title">Active Users</label>
                                </div>
                                <div class="col-lg-6">
                                    <label id="ActiveUsers" class="text-md-end"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="card-title">Logged in Today</label>
                                </div>
                                <div class="col-lg-6">
                                    <label id="UserLoggedinToday" class="text-md-end"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="">Last 1 week</label>
                                </div>
                                <div class="col-lg-6">
                                    <label id="UserLoggedinLast1Week" class="text-md-end"></label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="card-title">Last 1 month</label>
                                </div>
                                <div class="col-lg-6">
                                    <label id="UserLoggedinLast1Month" class="text-md-end"></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label class="card-title">Last 1 year</label>
                                </div>
                                <div class="col-lg-6">
                                    <label id="UserLoggedinLast1Year" class="text-md-end"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-5">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="far fa-check-square"></i>
                            </div>
                            <p class="card-category">Access Groups</p>
                            <div class="row">
                                <div class="form-group  pull-center">
                                    <table id="UsersGroupDataTable" class="table dataTableServer table-striped table-bordered dt-responsive nowrap compact" cellspacing="0" width="100%" data-source="sorted">
                                        <thead>
                                            <tr class="tableheadercolourassetsorted">
                                                <th>Access Group</th>
                                                <th>Count</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/js/Pages/Dashboard.js"></script>