﻿@{
    ViewData["Title"] = "Permission Areas";
}
<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<div class="container">
    <h3><small>Permission Areas</small></h3>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="datatable-toolbar float-md-right" style="float: right;" id="GroupIcons">
        <button id="btnAddNewPermissionAreas" type="button" class="btn" data-toggle="modal" data-target="#PermissionAreaModal">
            <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
        </button>
    </div>
    <div class="form-group  pull-center">

        <table id="PermissionAreasDataTable" class="table dataTableServer table-striped table-bordered dt-responsive nowrap compact" cellspacing="0" width="100%" data-source="sorted">
            <thead>
                <tr class="tableheadercolourassetsorted">
                    <th style="display:none;">Id</th>
                    <th>Area</th>
                    <th>Create</th>
                    <th>Read</th>
                    <th>Update</th>
                    <th>Delete</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="modal fade form-floating" id="PermissionAreaModal" tabindex="-1" role="dialog" aria-labelledby="RoleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="RoleModalLabel">Add New Permission Area</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="AreaName" placeholder="Enter Area Name">
                        <label>Area Name</label>
                        <div><label class="label-erorr" id="permissionareaerror"></label></div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2">Create</label>
                        <div class="col-lg-2 form-check form-switch">
                            <input class="form-control form-check-input" type="checkbox" role="switch" id="CreateValue" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2">Read</label>
                        <div class="col-lg-2 form-check form-switch">
                            <input class="form-control form-check-input" type="checkbox" role="switch" id="ReadValue" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2">Update</label>
                        <div class="col-lg-2 form-check form-switch">
                            <input class="form-control form-check-input" type="checkbox" role="switch" id="UpdateValue" />
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-lg-2">Delete</label>
                        <div class="col-lg-2 form-check form-switch">
                            <input class="form-control form-check-input" type="checkbox" role="switch" id="DeleteValue" />
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button id="btnModalSave" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/js/Pages/DataTableConfigure.js"></script>
<script src="~/js/Pages/PermissionAreas.js"></script>
