﻿
@{
    ViewData["Title"] = "User Permission";
}

<h3>User Permission</h3>
<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<div class="container">
    <h3><small>Users</small></h3>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="form-group  pull-center">
        <table id="UsersPermissionDataTable" class="table dataTableServer table-striped table-bordered dt-responsive nowrap compact" cellspacing="0" width="40%" data-source="sorted">
            <thead>
                <tr class="tableheadercolourassetsorted">
                    <th style="display:none;">Id</th>
                    <th>Area</th>
                    <th>Create</th>
                    <th>Read</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/js/Pages/UserPermission.js"></script>