﻿@model IdentityManager.Models.RolePermissionViewModel
@{
    ViewData["Title"] = "User Permissions";
}
<style>
    .form-switch {
        padding-left: 3.5em;
    }
    .ms-1 {
        margin-left: ($spacer * .25) !important;
    }
    .ms-3 {
        margin-left: ($spacer * .75) !important;
    }
</style>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-start">
            <h3 class="text-center"><small>User Permissions</small></h3>
        </div>
    </div>
    <div class="ms-3 justify-content-left">
        <form asp-controller="UserPermission" asp-action="SavePermissions" method="post">
            <div class="row">
                <label class="col-lg-2">Role</label>
                <div class="col-lg-4">
                    <input asp-for="RoleId" hidden placeholder="Enter your name" autocomplete="off" class="form-control" />
                    <input id="RoleName" value="@ViewBag.RoleName" autocomplete="off" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-lg-2">Area</label>
                <div class="col-lg-4">
                    <select asp-for="AreaId" asp-items="(IEnumerable<SelectListItem>)ViewBag.PermissionAreaList" class="form-control form-select"></select>
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-lg-2">Create</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="CreateValue" class="form-control form-check-input" type="checkbox" role="switch" id="CreateValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Read</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="ReadValue" class="form-control form-check-input" type="checkbox" role="switch" id="ReadValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Update</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="UpdateValue" class="form-control form-check-input" type="checkbox" role="switch" id="UpdateValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Delete</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="DeleteValue" class="form-control form-check-input" type="checkbox" role="switch" id="DeleteValue" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-offset-4 col-lg-6 text-right">
                    <button type="submit" class="btn btn-primary float-lg-end">Save</button>
                </div>
            </div>
            <input asp-for="RecId" hidden autocomplete="off" class="form-control" />
            <script src="~/lib/jquery/jquery.min.js"></script>
            <script src="~/js/Pages/UserPermission.js"></script>
        </form>
    </div>
</div>