﻿@model IdentityManager.Models.RolePermissionViewModel
@{
    ViewData["Title"] = "Edit Role Permissions";
}

<style>
    input[type=radio] {
        width: 15px !important;
        height: 15px;
    }

    .form-check-input {
        margin-top: 0.4rem;
        margin-left: 0px;
        margin-right: -60px !important;
    }

    .form-switch {
        padding-left: 3.5em;
    }

    .ms-1 {
        margin-left: ($spacer * .25) !important;
    }

    .ms-3 {
        margin-left: ($spacer * .75) !important;
    }
</style>
<div class="container">
    <h3><small>Edit Roles Permissions</small></h3>
    <div class="ms-3 justify-content-left">
        <form asp-controller="Roles" asp-action="SaveRolePermissions" method="post">
            <div class="row">
                <label class="col-lg-2">Role</label>
                <div class="col-lg-4">
                    <input asp-for="RoleId" hidden placeholder="Enter your name" autocomplete="off" class="form-control" />
                    <input id="RoleName" value="@ViewBag.RoleName" autocomplete="off" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-lg-2">Area</label>
                <div class="col-lg-4">
                    <select asp-for="AreaId" asp-items="(IEnumerable<SelectListItem>)ViewBag.PermissionAreaList" class="form-control  form-select"></select>
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-lg-2">Create</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="CreateValue" class="form-control form-check-input" type="checkbox" role="switch" id="CreateValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Read</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="ReadValue" class="form-control form-check-input" type="checkbox" role="switch" id="ReadValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Update</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="UpdateValue" class="form-control form-check-input" type="checkbox" role="switch" id="UpdateValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-lg-2">Delete</label>
                <div class="col-lg-2 form-check form-switch">
                    <input asp-for="DeleteValue" class="form-control form-check-input" type="checkbox" role="switch" id="DeleteValue" />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="col-lg-2"></label>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary float-lg-end">Save</button>
                </div>
            </div>
            <input asp-for="RecId" hidden autocomplete="off" class="form-control" />
            <script src="~/lib/jquery/jquery.min.js"></script>
            <script src="~/js/Pages/RolePermissions.js"></script>
        </form>
    </div>
</div>
