﻿
@{
    ViewData["Title"] = "RolePermissions";
}
<style>
    label {
        text-indent: 0px;
    }
</style>
<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<div class="container">
    <h3><small>Roles</small></h3>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="row">
        <label class="col-lg-2">Role Permissions</label>
        <div class="col-lg-4">
            <select id="RoleId" asp-items="(IEnumerable<SelectListItem>)ViewBag.AccessGroupList" class="form-control form-select"></select>
        </div>
    </div>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-sm-10 pull-center">
            <table id="AccessGroupsDataTable" class="table" cellspacing="0" width="100%" data-source="sorted">
                <thead>
                    <tr class="tableheadercolourassetsorted">
                        <th style="display:none;">Id</th>                        
                        <th>Area</th>
                        <th>Create</th>
                        <th>Read</th>
                        <th>Update</th>
                        <th>Delete</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/js/Pages/RolePermissionList.js"></script>

