﻿@{
    ViewData["Title"] = "Roles";
}
<link href="~/lib/datatables/css/jquery.dataTables.css" rel="stylesheet" />
<div class="container">
    <h3><small>Roles</small></h3>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="datatable-toolbar float-md-right" style="float: right;" id="GroupIcons">
        <button id="btnAddNewRoles" type="button" class="btn" data-toggle="modal" data-target="#RoleModal">
            <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>
        </button>
    </div>
    <div class="form-group  pull-center">

        <table id="AccessGroupsDataTable" class="table dataTableServer table-striped table-bordered dt-responsive nowrap compact" cellspacing="0" width="100%" data-source="sorted">
            <thead>
                <tr class="tableheadercolourassetsorted">
                    <th style="display:none;">RoleId</th>
                    <th>Role Name</th>
                    <th>Role Order</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="form-group col-sm-4 pull-center">
        &nbsp;
    </div>
    <div class="modal fade form-horizontal" id="RoleModal" tabindex="-1" role="dialog" aria-labelledby="RoleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="RoleModalLabel">Add New Role</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="RoleName" placeholder="Enter Role Name">
                        <label>Role Name</label>
                    </div>
                    <div>
                        <label id="LabelError" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="btnModalSave" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/datatables/js/jquery.dataTables.js"></script>
<script src="~/js/Pages/DataTableConfigure.js"></script>
<script src="~/js/Pages/Roles.js"></script>

